input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
  
.form-control {
    background-color: #FCFBF0;
}

input.search-input {
    background-color: #FCFBF0;
    border: 1px solid #1A1816;
}

input.search-input:focus {
    background-color: #FCFBF0;
    border: 1px solid #1A1816;
}

.nav-item a:hover {
    font-weight: bold;
}

#userProfile:hover {
    filter: brightness(0.8);
}

Button.green-light-btn, a.green-light-btn {
    background-color: rgba(0,0,0,0);
    color: #39754B;
    border: 1px solid #39754B;
}

Button.green-light-btn:hover, a.green-light-btn:hover {
    background-color: #39754B;
    color: #FCFBF0;
}

Button.green-dark-btn, a.green-dark-btn {
    background-color: #39754B;
    color: #FCFBF0;
    border: 1px solid #39754B;
}

Button.green-dark-btn:hover, a.green-dark-btn:hover {
    border: 1px solid #39754B;
    background-color: rgba(0,0,0,0);
    color: #39754B;
}

p.darkGreenText {
    color: #39754B;
}

.darkGreenText {
    color: #39754B;
}

.item-category {
    background-color: #1A1816;
    color: #FCFBF0;
}

.item-category:hover {
    color: #1A1816;
    background-color: #FCFBF0;
}

ul.pagination {
    border-radius: 0%;
}

ul.pagination * {
    background-color: #FCFBF0;
    color: #1A1816;
    border: none;
}

a.detail-product-link {
    color: #1A1816;
    text-decoration: none;
}

button.btn-search {
    border: 1px solid #1A1816;
}

button.btn-search:hover {
    border: none;
    background-color: #1A1816;
    color: #FCFBF0;
}

ul.dropdown-menu {
    background-color: #FCFBF0;
}

ul.dropdown-menu li {
    background-color: #FCFBF0;
    text-align: center;
}

button.search-toggler {
    border: 1px solid #1A1816;
}

button.dark-btn {
    border: 1px solid #1A1816;
    background-color: #1A1816;
    color: #FCFBF0;
}

button.dark-btn:hover {
    border: 1px solid #1A1816;
    color: #1A1816;
    background-color: rgba(0,0,0,0);
}

button.light-btn , .light-btn {
    border: 1px solid #1A1816;
    color: #1A1816;
    /* background-color: rgba(0, 0, 0, 0); */
    background-color: #FCFBF0;
}

.light-btn:hover {
    /* border: 1px solid #1A1816;
    background-color: #1A1816;
    color: #FCFBF0; */
    filter: brightness(0.8);
}

ul.dropdown-search li a:active {
    border: 1px solid #1A1816;
    background-color: #1A1816;
    color: #FCFBF0;
}

.shop-profile {
    border: 1px solid #1A1816;
}

.shop-picture {
    border-radius: 100%;
    border: 1px solid #1A1816;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    width: 100%;
}

.shop-info {
    border: 1px solid #1A1816;
}

.shop-account {
    background-color: #FCFBF0;
    border: 1px solid #1A1816;
    height: 10;
}

.shop-account:hover {
    filter: brightness(0.8);
}

.styled-text {
    text-shadow: 0 0 10px #1A1816;
}

.hoverable-item:hover {
    filter: brightness(0.9);
}

.hoverable-item:active {
    filter: brightness(0.85);
}

.black-dropdown {
    background-color: #FCFBF0;
    color: #1A1816;
    border: 1px solid #1A1816;
}

.black-dropdown:hover {
    filter: brightness(0.8);
}

li *.dropdown-item:hover {
    filter: brightness(0.9);
}

li *.dropdown-item:active {
    background-color: #39754B;
}

input[type='checkbox'] {
    width: 16px;
    height: 16px;
    margin: 5px;
}

input[type='checkbox']:checked {
    accent-color: #39754B;
}

input[type='radio']:checked {
    accent-color: #39754B;
}