.form-control {
    background-color: #FCFBF0;
}

.nav-item a:hover {
    font-weight: bold;
    box-shadow: 0px 1px black;
}

#userProfile:hover {
    filter: brightness(0.8);
}

Button.light-btn {
    background-color: #FCFBF0;
    color: #39754B;
}

Button.light-btn:hover {
    background-color: #39754B;
    color: #FCFBF0;
}

Button.dark-btn {
    background-color: #39754B;
    color: #FCFBF0;
}

Button.dark-btn:hover {
    background-color: #39754B;
    color: #FCFBF0;
    filter: brightness(0.8);
}

p.darkGreenText {
    color: #39754B;
}

.item-category {
    color: #1A1816;
}

.item-category:hover {
    background-color: #1A1816;
    color: #FCFBF0;
}

ul.pagination * {
    background-color: #FCFBF0;
    color: #1A1816;
}

a.detail-product-link {
    color: #1A1816;
    text-decoration: none;
}